{% load static %}
<footer class="footer-area bg-img">

    <div class="main-footer-area">
        <div class="container">
            <div class="row">

          
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="footer-logo mb-30">
                            <a href="https://www.pagasa.dost.gov.ph/"><img src="{% static 'img/core-img/pagasa.png' %}" style="height:100px;" alt=""></a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            <a href="https://www.da.gov.ph/"><img src="{% static 'img/core-img/agriculture.png' %}" style="height:100px;" alt=""></a>
                        </div>
                        <p>In collaboration with the Department of Agriculture and DOST-PAGASA.</p>
                        
                    </div>
                </div>

      
          

                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="widget-title">
                            <h5>Quote</h5>
                        </div>

                        <div class="contact-information">
                           <p>The kind of soil in your area determines the type of crop you <br>will plant to harvest; The kind of potentials in you will decide the type of success you will celebrate.</p>
                        </div>
                        &nbsp;
                    </div>
                </div>

        
                

                <div class="col-12 col-sm-6 col-lg-20">
                    <div class="single-footer-widget">
                        <div class="widget-title">
                            <h5>CONTACT</h5>
                        </div>

                        <div class="contact-information">
                            <p>Western Mindanao State University, College of Computing Studies</p>
                            <p><span>Address:</span> Normal Road, Baliwasan, Zamboanga City, Philippines</p>
                            <p><span>Phone:</span> 777-867-5309</p>
                            <p><span>Email:</span> ics@wmsu.edu.ph</p>
                            <p><span>Open hours:</span> Mon - Sat: 8 AM to 5 PM</p>
                        </div>
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <div class="footer-bottom-area">
        <div class="container">
<div id="ww_62d7c552bbbb5" v='1.20' loc='id' a='{"t":"responsive","lang":"en","ids":["wl1384"],"cl_bkg":"image","cl_font":"#FFFFFF","cl_cloud":"#FFFFFF","cl_persp":"#81D4FA","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722","sl_tof":"5","sl_sot":"celsius","sl_ics":"one_a","font":"Arial"}'>Weather Data Source: <a href="https://cuacalab.id/cuaca_zamboanga_city/hari_ini/" id="ww_62d7c552bbbb5_u" target="_blank">cuaca hari ini di Zamboanga City</a></div><script async src="https://srv1.weatherwidget.org/js/?id=ww_62d7c552bbbb5"></script>
            <div class="row">
                <div class="col-12">
                    <div class="border-line"></div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="copywrite-text">
                        <p> <a target="_blank" href="https://django-template.empress997.repl.co/">Group 6 BSIT 4 - A</a></p>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</footer>